{
	"arrowParens": "always",
	"bracketSpacing": true,
	"endOfLine": "lf",
	"jsxBracketSameLine": false,
	"jsxSingleQuote": false,
	"trailingComma": "es5",
	"printWidth": 140,
	"singleQuote": true,
	"semi": false,
	"tabWidth": 4,
	"useTabs": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrder": ["^react(.*)", "^next(.*)", "@mui/(.*)", "<THIRD_PARTY_MODULES>", "@/(.*)", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderCaseInsensitive": true
}
